.navbar {
    background-color: #453643;
}

.dropdown-menu{
    border-top: 5px solid #C3C76B;
    border-radius: 5px 5px 10px 10px;
}

.nav-link{
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #A9AD53;
}

.nav-link:hover{
    color: #D0D650;
}

.button-navbar-toggler{
    color: #A9AD53;
}

.navbar-toggler-icon{
    fill: #A9AD53;
}

.navbar-toggler{
    color: #A9AD53;
}

.img-button{
    fill: #A9AD53;
}

.btn{
    border: 2px solid #C3C76B;
    border-radius: 10px;
    margin: 10px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #A9AD53;
}

.btn:hover{
    color: #D0D650;
    border: 2px solid #D0D650;
}
/*-----------------------------footer------------------------------*/
.container-fluid{
    background-color: #453643;
    height: 500px;
}

.social-media{
    margin-left: 450px;
    margin-right: 450px;
}
.smed{
margin-top: 50px;
}

.smed img{
    height: 40px;
}
.smed img:hover{
    fill: rgba(208, 214, 80, 1);
}
.text{
    margin-top: 20px;
    color: rgba(169, 173, 83, 1);
    font-size: 18px;
    font-family: Abel;
    text-align: center;
}

.form-abonne{
padding-left: 40%;
}

input{
    color: rgba(208, 214, 80, 1);
    width: 45%;
}
button{
    width: 40%;
}
/*-----------------------------end of footer------------------------------*/
/*-----------------------------page product list------------------------------*/
#photo-anne-sophie{
    width: 100%;
}
.photoproduct{
    width: 400px;
    height: auto;
}
.body-productlist{
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgba(221, 224, 189, 1) ;
}
.product-col{
    margin-top: 20px;
}
.product{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(169, 173, 83, 1);
    font-size: 18px;
    font-family: Abel;
    text-align: center;
    border-radius: 10px ;
}
/*-----------------------------page product detail------------------------------*/
.body-productdetail{
    background-color: rgba(221, 224, 189, 1) ;
    height: 900px;
    padding-top: 5%;

}
.content-productdetail{
    background-color: rgba(255, 255, 255, 1);
    height: 600px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px ;
    color: rgba(69, 54, 67, 1);
    font-family: Playfair;
    text-align: center;
}
.productinfo{
    color: rgba(169, 173, 83, 1);
    font-size: 25px;
    font-family: Abel;
    padding: 5%;
}
.productinfo p{
    color: rgba(69, 54, 67, 1);
    font-size: 18px;
    text-align: justify;
}
