.navbar {
    background-color: #453643;
}

.dropdown-menu{
    border-top: 5px solid #C3C76B;
    border-radius: 5px 5px 10px 10px;
}

.nav-link{
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #A9AD53;
}

.nav-link:hover{
    color: #D0D650;
}

.button-navbar-toggler{
    color: #A9AD53;
}

.navbar-toggler-icon{
    fill: #A9AD53;
}

.navbar-toggler{
    color: #A9AD53;
}

.img-button{
    fill: #A9AD53;
}

.btn{
    border: 2px solid #C3C76B;
    border-radius: 10px;
    margin: 10px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #A9AD53;
}

.btn:hover{
    color: #D0D650;
    border: 2px solid #D0D650;
}
/*-----------------------------footer------------------------------*/
.container-fluid{
    background-color: #453643;
    height: 500px;
}

.social-media{
    margin-left: 450px;
    margin-right: 450px;
}
.smed{
margin-top: 50px;
}

.smed img{
    height: 40px;
}
.smed img:hover{
    fill: rgba(208, 214, 80, 1);
}
.text{
    margin-top: 20px;
    color: rgba(169, 173, 83, 1);
    font-size: 18px;
    font-family: Abel;
    text-align: center;
}

.form-abonne{
padding-left: 40%;
}

input{
    color: rgba(208, 214, 80, 1);
    width: 45%;
}
button{
    width: 40%;
}
/*-----------------------------end of footer------------------------------*/
/*-----------------------------page product list------------------------------*/
#photo-anne-sophie{
    width: 1900px;
}
