.navbar {
    background-color: #453643;
}

.dropdown-menu{
    border-top: 5px solid #C3C76B;
    border-radius: 5px 5px 10px 10px;
}

.nav-link{
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #A9AD53;

}

.nav-link:hover{
    color: #D0D650;
}
