# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Public\Documents\TECHNICIEN DÉVELOPPEUR 2020\07. PHP-BDD\PHP LARAVEL\projet-laravel-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
